@font-face {
    font-family:'Libre Franklin';
    src: url('LibreFranklin-VariableFont_wght.ttf');
}

.header {
    font-family:'Libre Franklin';
    font-weight:700;
}

.subheader {
    font-weight:500;
    margin-top: 0!important;
}

.chip_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.chiplets {
    margin: 0.75rem;
    padding: 0.25rem 0.7rem 0.25rem 0.7rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    font-weight:300;
    font-family:'Libre Franklin';
    user-select:none;
    cursor:pointer;
}

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.cards {
    margin: 1rem;
    padding: 0rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    /* transition: color 0.15s ease, border-color 0.15s ease; */
    max-width: 300px;
    overflow:hidden;
    user-select:none;
    cursor:pointer;
    transition: all 0.3s ease;
}

.card_thumbnail {
    width:100%;
}

.card_title {
    padding:1.5rem;
    text-align:center;
}

/* CONTENT INTERACTIONS */

.cards.hover {
    transform:scale(1.2);
    border: 3px solid red !important;
    box-shadow: 0px 2px 15px 0px rgba(255, 0, 0, 0.8);
}

.cards.unhover {
    transform:scale(1);
    border: unset;
    box-shadow: unset;
}

.chips:hover {
    border-width: 1px;
    border-style: inset;
    
}

.cards.highlight {
    border: 3px solid red !important;
    box-shadow: 0px 2px 15px 0px rgba(255, 0, 0, 0.8);
}